### Basics on Python:

In [1]:
a = 'A100'

# .istitle(), if the first letter is capital returns True
print(a.istitle())

# .isdigit() to check if its a digit
print(a[1].isdigit())

# .isalpha if the charector is a alphabet
print(a.isalpha())

# .isalnum if the charector is a number
print(a.isalnum())

True
True
False
True

**Logical Operations**  
Logical operators are used on conditional statements (either True or False)

In [2]:
# and
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [3]:
# or
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

**List**  
A list is a collection of elements, which can be of any data type such as numbers, strings, or other objects. Lists are created using square brackets [] and can be modified

In [4]:
lt = []
for i in range(10):
    lt.append(i)
print(lt)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
# .insert(), the first argument is for the index and the second is the number to be inserted
lt.insert(0,23)
lt

[23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
lt[1:-2]

[0, 1, 2, 3, 4, 5, 6, 7]

In [7]:
lt[-2:]

[8, 9]

In [8]:
lt[:-3]

[23, 0, 1, 2, 3, 4, 5, 6]

In [9]:
# .extend() is to extend numbers
lt.extend([44,10])
lt

[23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 44, 10]

In [10]:
sum(lt)

122

In [11]:
# .pop() to remove the number in the given index
lt.pop(0)

23

In [12]:
# .index() returns the index of the given number
lt.index(10)

11

In [13]:
# List if multiplied by 2, just doubles 
lt * 2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 44, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 44, 10]

**Set**  
A set is an unordered collection of unique elements that can be of any data type, similar to lists, but with two main differences: sets are enclosed in curly braces {}, and they do not allow duplicate elements.

In [14]:
s1 = set()

for i in range(10):
    s1.add(i)
s1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
s2 = set()
for i in range(5,15):
    s2.add(i)
    
s2

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [16]:
# .intersection() to get the comman elements from 2 sets
s1.intersection(s2)

{5, 6, 7, 8, 9}

In [17]:
# .defference , gets all the uncomman elements from the first set
s1.difference(s2)

{0, 1, 2, 3, 4}

**Dictionary**  
A dictionary is a collection of key-value pairs, where each key maps to a value. They are enclosed in curly braces {} and consist of key-value pairs separated by a colon.

In [18]:
my_dict = dict()

lt = ['a','b','c','d','e','f']

z = 0
for i in lt:
    my_dict[i] = z
    z = z+1

my_dict

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5}

In [19]:
my_dict['c']

2

In [20]:
for i in my_dict.items():
    print(i)

('a', 0)
('b', 1)
('c', 2)
('d', 3)
('e', 4)
('f', 5)

In [21]:
for i in my_dict.keys():
    print(i)

a
b
c
d
e
f

In [22]:
my_dict['b'] = 4

In [23]:
house1 = {'A1':2000}
house2 = {'A2':2344}

house = {'H1':house1,'H2':house2}
house

{'H1': {'A1': 2000}, 'H2': {'A2': 2344}}

In [24]:
house['H1']['A1']

2000

In [25]:
t1 = (10,0,1,2,3,4,5,6,7,8,9)

t1 = t1 * 2

In [26]:
t1.count(7)

2