## Functions
Functions in Python are blocks of reusable code that perform a specific task.

In [21]:
import numpy as np

[6, 16, 0, 18, 17, 11, 14, 21, 12, 6]

In [5]:
def even_odd(num):
    if num%2==0:
        return ("{} is even".format(num))
    else:
        return ("{} is odd".format(num))
    
if __name__ == "__main__":
    print(even_odd(10))

10 is even

In [6]:
even_odd(24)

'24 is even'

In [3]:
# print vs return

def hello():
    print("Hello World")
    

def hello1():
    return("Hello World")

In [4]:
val = hello()
print(val)

Hello World
None

In [5]:
val = hello1()
print(val)

Hello World

In [6]:
def hello(name,age=23):
    print("My name is {} and age is {}".format(name,age))

In [7]:
hello('Var',22)

My name is Var and age is 22

In [8]:
# *args - positional argument
# **kwargs - key words argument

def func(*args,**kwargs):
    print(args)
    print(kwargs)

In [9]:
func('Varenya','Vinay',age=22,dob=2000)

('Varenya', 'Vinay')
{'age': 22, 'dob': 2000}

In [10]:
a = ('Varenya', 'Vinay')
b = {'age': 22, 'dob': 2000}

In [11]:
func(*a,**b)

('Varenya', 'Vinay')
{'age': 22, 'dob': 2000}

In [12]:
def even_odd_sum(lt):
    even_sum = 0
    odd_sum = 0
    
    for i in lt:
        if i%2==0:
            even_sum += i
        else:
            odd_sum += i
    return even_sum, odd_sum

In [13]:
even_odd_sum(list(range(1,8)))

(12, 16)

**Map Function**   
map() function is used to apply a given function to each item of an iterable (such as a list, tuple, or set) and returns a new iterable with the results.

In [31]:
lt = list(np.random.randint(-25,25,size=10))
lt

[-3, 19, -22, -9, 15, 13, 5, 18, 18, 17]

In [32]:
list(map(even_odd,lt))

['-3 is odd',
 '19 is odd',
 '-22 is even',
 '-9 is odd',
 '15 is odd',
 '13 is odd',
 '5 is odd',
 '18 is even',
 '18 is even',
 '17 is odd']

**Lambda Functions (Anonymous Function)**  
Functions that are defined without a name. They are typically used as a way to create small, one-time use functions within a program.

In [34]:
def addition(a,b):
    return a+b

In [35]:
addition(4,5)

9

In [38]:
# lambda variables : (the things it must do)

add = lambda a,b: a+b

In [39]:
add(5,5)

10

In [41]:
def even(num):
    if num%2==0:
        return True

In [42]:
even = lambda even_num:even_num%2==0
even(4)

**Filter Function**  
filter() function applies the function to each element in the iterable and returns only those elements for which the function returns True.

In [61]:
def even(num):
    if num%2==0:
        return True

In [62]:
lt

[-3, 19, -22, -9, 15, 13, 5, 18, 18, 17]

In [63]:
list(filter(even,lt))

[-22, 18, 18]

In [64]:
list(map(even,lt))

[None, None, True, None, None, None, None, True, True, None]

In [65]:
list(filter(lambda num:num%2==0,lt))

[-22, 18, 18]

In [66]:
list(map(lambda num:num%2==0,lt))

[False, False, True, False, False, False, False, True, True, False]

**List Comprehension**  
List comprehension is a concise way to create lists in Python.

In [9]:
def lt_square(lt):
    lt1 = []
    for i in lt:
        lt1.append(i*i)
    return lt1

In [11]:
a = lt_square(list(range(0,10)))
a

In [14]:
lt = [i*i for i in a if i%2==0]
lt

[0, 16, 256, 1296, 4096]

**String Fromatting**  
String formatting is the process of creating formatted strings by embedding values of variables in the string itself.

In [1]:
print("hello")

hello

In [6]:
def greeting(name):
    return "Hello {}.".format(name)


greeting('Var')

'Hello Var.'

In [9]:
def wel_mail(f_name,l_name):
    return "Hello {} {}.".format(f_name,l_name)


wel_mail('Var','V')

'Hello Var V.'

In [13]:
def wel_mail(f_name,l_name,age):
    return "My name is {name}. My age is {age}.".format(name = f_name,age = age)

wel_mail('Var','V',22)

'My name is Var. My age is 22.'

**Iterables vs Iterators**

In [43]:
# Iterator doesnt store in the memory, only when the inbuilt 'next'
# key word is called its stored in memory

# Iterable its already stored in memory
# List is a iterable it can be converted to interator using 'iter' inbuilt function

## both can be retrieved with a for loop

In [15]:
# List is Iterables

lt = [1,2,3,4] 

for i in lt:
    print(i)

1
2
3
4

In [40]:
# iterator

lt1 = iter(lt)
lt1

In [41]:
next(lt1)

1

In [42]:
for i in lt1:
    print(i)

2
3
4